body {
    width: 100%;

}
#navii {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}
.ull {
    display: flex;
    width:50%;
    text-decoration: none;
    list-style: none;

}
li {
    width: 70%;
    height: 10vw;
    display: block;
    padding: 5px;
    /*background-color: beige;*/
    border: red solid 1px ;
    border-bottom: none;
    
    
}
a {
    display: block;
    position: absolute;
    top: 5vw;
    left:3vw;
    margin: 0 auto;
		position: relative;  /*javaScriptでのちに使用*/
		font-size: 20px;
}

/*when hover */
li a:hover {
	background-color: brown;
    color: white;
}
/* navi-color */
#navii li:nth-child(1), #navii a:nth-child(1){
	background-color: aqua;
}
#navii li:nth-child(2), #navii a:nth-child(1){
	background-color:gold;
}
#navii li:nth-child(3), #navii a:nth-child(1){
	background-color: rgb(121, 224, 17);
}

/* linkとなる先の各内容*/
#tabbody div {
	border: green double 2px;
	border-top: none;
	margin-top: -13px;
	background-color;
	position: relative; 
	z-index: 0;      /*for JavaScript */
}