*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.title h1{
  font-family: 'Reggae One', cursive;
  font-size: 100px;
  padding: 15vw 0 3vw 0;
  text-align: center;
  color: rgb(48, 48, 231);
}
.title h3{
  font-family: 'Londrina Outline', cursive;
  padding: 5vw 0 3vw 5vw;
  color: rgb(43, 43, 247);
  font-size: 50px;
  text-align: center;
}
#tab {
  display: flex;
  width: 100vw;
  justify-content: center;
  z-index: 5;


}
#tab li  {
  display: block;
  width: 200px;
  padding: 10px 25px;
  z-index: 5;
  
}



#tab a {
  font-family: Regular, cursive;
  font-weight: bold;
  font-size: calc(26px + 8 * ((100vw - 800px) / 800));
  color: rgb(255, 255, 255);
  z-index: 5;
}


#tab a:hover {
  color:red;
}

#a {
  background-color: rgba(248, 229, 204,1.0);
}
#b {

  background-color: rgba(121, 134, 227,1.0);
}
#c {
  
  background-color: rgba(102, 233, 172,1.0);
}



/*#contents {
  position: absolute;
  top: 100vw;
}*/
#a,#b,#c {
 text-align: center;
 margin: 0;
 width: 100vw;
 height: 100vh;
 color:rgb(14, 14, 14);
 
}

/*for partial aninimation*/

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
.context {
  width: 100%;
  height: 100vh;
  margin: 0;
  top: 0;
  z-index: 0;
  
}


.area{
  background: -moz-linear-gradient(top, #6fe1ee 30%, #63d669 60%, #748af8);
  background: -webkit-linear-gradient(top,#6fe1ee 30%, #63d669 60%, #748af8);
  background: linear-gradient(to bottom,#6fe1ee 30%, #63d669 60%, #748af8);
  width: 100%;
  height:100vh;
  z-index: 0;
  position: absolute;
  top: 0;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.256);
  animation: animate 25s linear infinite;
  bottom: -100px;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2){
  left: 10%;
  width: 5px;
  height: 5px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 1%;
    height: 10px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 100px;
    height: 100px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 75px;
    height: 75px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0.3;
    border-radius: 50%;
}

}
/* ~ profile page's css~*/
#a {
  font-size: 20px;
  box-sizing: border-box;
}
.container {
  width:95vw;
  height: 90vh;
  margin: 0 auto;
}
.main-wrapper {
  display: flex;
  margin: 0;
  place-items: center;
  background-color: rgb(244, 214, 176);
  width: 100vw;
  height: 90vh;
}

.main-top {
  /*background-color: rgb(218, 246, 203);*/
  display: inline-block;
  height: 10vh;
  width: 100%;
  text-align: center;
}

h4 {
  padding: 1rem 0;
}

.main-mid {
 /* background-color: rgb(197, 238, 238);*/
  width: 90%;
  height: 400px;
  display: flex;
}
.main-mid-left {
  /*background-color: rgb(125, 124, 124);:*/
  width: 35%;
  height: 400px;
  text-align: center;
} 
.main-mid-left img {
  height: 200px;
  width: auto;
  margin-top: 50px;
}
.main-mid-right {
  width: 65%;
  
}
.main-mid-right {
  display: flex;
}
.info-left {
width: 20%;
}
.info-right {
width: 80%;
}
.mid-main-right2 {
  display: none;
}
.main-mid-right li {
  line-height: 250%;
  
}
.main-mid-right li .pick {
  position:  relative;
}
.info-right li:hover {
  cursor: pointer;
}
.main-mid-right span {
  position:  absolute;
  right: 150px;
}
.answer {
  display: none;
}
.answer-2{
  display: none;
}
.main-under {
  width: 90%;
  height: 150px;
/* background-color: rgb(250, 134, 134);*/
}
.answer {
  display: none;
  border: 1px solid rgb(11, 154, 232);
  background-color: #edece9;
  font-size: 16px;
  text-align: left;
  padding-right: 30px;
}

table.ta2 {
  border-collapse: collapse;
  width: 85%;
  margin-left: 15%;
  text-align:center;
}
th, td {
  border: solid 2px #0f0e0e; /* 線の種類 太さ 色 */
} 
.ta2 {
  display: none;
}





@media screen and (max-width: 1000px){
  
  body {
    font-size: 14px;
  
    .header-bg {
      width: auto;
      height: 40%;
      margin: 0;
    }
    .main-wrapper {
      display: flex;
      margin: 0;
      place-items: center;
      background-color: #F5C76B;
      width: 100%;
      height: 100%;
    }
    .container {
      margin: 0 auto;
      width: 90%;
      height: 100%;
    
      background-color: rgb(244, 214, 176);
    }
    .main-top {
      /*background-color: rgb(218, 246, 203);*/
      display: inline-block;
      height: 60px;
      width: 100%;
      text-align: center;
    }
    .main-mid {
    /* background-color: rgb(197, 238, 238);*/
      width: 100%;
      height: 400px;
      display: flex;
    }
    .main-mid-right {
      width: 65%;
    }
    .main-mid-right {
      display: flex;
    }
    .info-left {
    width: 20%;
    }
    .info-right {
    width: 80%;
    }
    .ta2 {
      display: none;
    }
    .main-mid-left {
      /*background-color: rgb(125, 124, 124);:*/
      width: 30%;
      height: 400px;
      text-align: center;
    } 
    .main-mid-left img {
      height: 200px;
      width: auto;
      margin-top: 30px;
    }
    .main-mid-right li {
      line-height: 250%;     
    }
    .main-mid-right li .pick {
      position:  relative;
    }
    .info-right li:hover {
      cursor: pointer;
    }
    .main-mid-right span {
      position:  absolute;
      right: 10%;
    }
    .answer {
      display: none;
    }
    .answer-2{
      display: none;
    }
    .main-under {
      width: 90%;
      height: 150px;
    /* background-color: rgb(250, 134, 134);*/
    }
    .answer {
      display: none;
      border: 1px solid rgb(11, 154, 232);
      background-color: #edece9;
      font-size: 16px;
      text-align: left;
      padding-right: 30px;
    }
    
    .main-bg {
      height: auto;
    }
    .footer-bg {
      height: 20%;
    }
    
  }
}

@media screen and (max-width: 670px){
  body {
    font-size: 10px;

    .header-bg {
      width: auto;
      height: 40%;
      margin: 0;
    }
    .main-bg {
      height: auto;
    }
    .footer-bg {
      height: 20%;
    }
    .main-mid-left {
      /*background-color: rgb(125, 124, 124);:*/
      width: 20%;
      height: 400px;
      text-align: center;
      margin-left: 5%;
    } 
    .main-mid-left img {
      height: 100px;
      width: auto;
      margin-top: 10px;
    }

    .info-left, .info-right {
      display: none;
    }
    .ta2 {
      display: table;
    }
    .main-mid-right span {
      position:  absolute;
      right: 20%;
    }

    .answer {
      font-size: 8px;
    }
    .title {
      background-color:rgba(239, 205, 159, 0.811);
    }
    .sub {
      background-color: #efe9d8;
    }
  }
}
