h4{
  color: blue;
}
#lis {
margin: 10vw;
}
ul {
  display: flex;
}
li {
  display: block;
  width: 100px;
  padding: 10px;  
}

#a {

  background-color: antiquewhite;
}
#b {
  display: none;
  background-color: rgb(121, 134, 227);
}
#c {
  display: none;
  background-color: rgb(102, 233, 172);
}

#tabbody div {
 z-index: 0;   
 margin: 50px 0 0 50px;
 width: 400px;
 height: 400px;
}